/* style_register.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px; /* Zwiększ odstęp od góry */
}

form {
    background-color: #fff;
    padding: 30px;
    padding-right: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Zwiększ szerokość formularza */
    margin-top: 20px; /* Dodaj margines na górę formularza */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Dodatkowe style dla responsywności */
@media (max-width: 600px) {
    form {
        width: 80%;
        margin-right: 0; /* Usuń margines po prawej dla mniejszych ekranów */
    }
}